<div class="cg-form-main-wrapper"></div>
<div class="form-wrapper">
  <div class="cg-form-container">
    <p class="cg-back-button" ng-click="vm.goBack()">
      <span class="fa fa-long-arrow-left"></span>
       Back
    </p>
    <h2>{{vm.register ? vm.register : vm.login}}</h2>
    <h4 class="cg-errors" ng-show="vm.error">Validation Errors</h4>
    <p class="cg-errors" ng-show="vm.error">
      {{vm.error.message}}
    </p>
    <form ng-submit="vm.register ? vm.registerUser() : vm.loginUser()">
      <input ng-show="vm.register" id="firstName" type="text" name="firstName" ng-model="vm.user.firstName" placeholder="First Name">
      <input id="username" type="text" name="username" ng-model="vm.user.username" placeholder="Username">
      <input id="password" type="password" name="password" ng-model="vm.user.password" placeholder="Password">
      <input ng-show="vm.register" id="confirmPassword" type="password" name="confirmPassword" ng-model="vm.user.confirmPassword" placeholder="Confirm Password">
      <div class="cg-btn-container">
        <button type="submit" class="btn btn-primary cg-submit-btn">{{ vm.register ? 'Register' : 'Login' }}</button>
        <button type="text" class="cg-auth-btn" ng-click="vm.register ? vm.loginPage() : vm.registerPage()">{{ vm.register ? 'Login' : 'Register' }}</button>
      </div>
    </form>
  </div>
</div>
