<div class="hamburger-top" ng-class="{'moveup': hover, 'rotate-top': variable}"></div>
<div class="hamburger-middle" ng-class="{'rotate-middle': variable}"></div>
<div class="hamburger-bottom" ng-class="{'movedown': hover, 'rotate-bottom': variable}"></div>
<div class="dropdown" ng-class="{'visible': variable}">
  <ul>
    <li ng-class="{'visible': variable}"><a du-smooth-scroll="portfolio" du-scrollspy>Portfolio</a></li>
    <li ng-class="{'visible': variable}"><a du-smooth-scroll="accomplishments" du-scrollspy>Accomplishments</a></li>
    <li ng-class="{'visible': variable}"><a du-smooth-scroll="aboutme" du-scrollspy>About Me</a></li>
    <li ng-class="{'visible': variable}"><a href="https://github.com/chris-gaona" target="_blank">GitHub Repo</a></li>
  </ul>
</div>
