<section id="header">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1 class="text-xs-center">{{vm.hello}}</h1>
        <p class="text-xs-center">
          So much amazing fun to learn...better get to it!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="about-me">
  <div class="container">
    <div class="row">
      <h2 class="text-xs-center">About Me</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</section>

<owl-carousel class="owl-carousel" data-options="{loop: true, items: 1, stagePadding: 50, autoplay: true, autoplayHoverPause: true}"></owl-carousel>
