<div class="container-fluid col-xs-12 cg-header">
  <div class="row">
    <h1 class="text-xs-center">Chris Gaona Portfolio</h1>
    <hr class="star-light">
    <p class="brief-info">
      Web Developer - Full-Stack JavaScript - MEAN Stack
    </p>
    <a href="https://github.com/chris-gaona">
      <button class="cg-github"><span class="fa fa-github"></span>GitHub Repository</button>
    </a>
  </div>
</div>

<div class="container-fluid col-xs-12 cg-portfolio">
  <div class="row">
    <h2>Portfolio</h2>
    <hr class="star-primary">
    <div class="controls">
      <label>Filter:</label>
      <button class="filter" data-filter="all">All</button>
      <button class="filter" data-filter=".category-{{category}}" ng-repeat="category in vm.categories">{{category}}</button>

      <label>Sort:</label>
      <button class="sort" data-sort="myorder:asc">Asc</button>
      <button class="sort" data-sort="myorder:desc">Desc</button>
    </div>
    <mixitup entities='vm.drawings'>
      <div class="mix category-{{drawing.category}}" data-myorder="{{drawing.value}}" ng-repeat="drawing in vm.drawings">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <img src="images/maya.JPG" alt="Image" class="card-img-top img-fluid" />
              <div class="card-block">
                <h4 class="card-title">{{drawing.name}}</h4>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mixitup>
  </div>
</div>

<div class="container-fluid col-xs-12 cg-carousel">
  <div class="row">
    <owl-carousel class="owl-carousel owl-theme" data-options="{loop: true, items: 1, autoplayHoverPause: true, margin: 20}"></owl-carousel>
    <!-- autoplay: true -->
  </div>
</div>

<div class="container-fluid col-xs-12 cg-aboutme">
  <div class="row">
    <h2 class="text-xs-center">About Me</h2>
    <hr class="star-primary">
    <p>
      Hi, my name is Chris Gaona, and I'm a Full-Stack JavaScript Developer. Over the past 2 years I have been learning as much as I can about web development using languages such as JavaScript, HTML, CSS, Node.js, and others. I am looking for a web development role in a company that is truly making a difference in the world and on a team that enjoys learning new technologies, languages, and platforms as much as I do. You can see the various projects I have worked on on my GitHub page by clicking on the button below.
    </p>
  </div>
</div>
<div class="container-fluid col-xs-12 cg-aboutme-image">
  <div class="row">
    <div class="cg-myimage"></div>
  </div>
</div>

<div class="container-fluid col-xs-12 cg-footer">
  <div class="row">
    <p>
      Footer
    </p>
  </div>
</div>
