<div id="cg-form" class="form-wrapper">
  <h2>{{ vm.project ? vm.project.name : 'Add New Project' }}</h2>
  <form ng-submit="vm.saveProject()">
    <input id="name" type="text" name="name" ng-model="vm.name" placeholder="Project Name">
    <input id="category" type="text" name="category" ng-model="vm.category" placeholder="Category">
    <input id="image" type="text" name="image" ng-model="vm.image" placeholder="Image URL">
    <input id="created_on" type="text" name="created_on" ng-model="vm.created_on" placeholder="Created On Date">
    <input id="link" type="text" name="link" ng-model="vm.link" placeholder="Live Preview Link">
    <input id="github_link"type="text" name="github_link" ng-model="vm.github_link" placeholder="GitHub Link">
    <textarea id="comments" type="text" name="comments" ng-model="vm.comments" placeholder="Comments"></textarea>
    <input id="grade" type="text" name="grade" ng-model="vm.grade" placeholder="Grade">
    <button type="submit" class="btn btn-primary cg-submit-btn">Submit</button>
  </form>
</div>
