<div>
  <h2 class="cg-company-treehouse">Treehouse</h2>
  <!-- <hr class="star-gray"> -->
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-check-circle"></span>
    </p>
    <p>
      {{vm.treehouse.badges | number}} badges
    </p>
  </div>
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-star"></span>
    </p>
    <p>
      {{vm.treehouse.points | number}} points
    </p>
  </div>
  <div class="col-xs-4 m-t-3">
    <p>
      <span class="fa fa-certificate"></span>
    </p>
    <p>
      Full-Stack JavaScript Certificate
    </p>
  </div>
</div>
<div>
  <h2 class="cg-company-codeschool">CodeSchool</h2>
  <!-- <hr class="star-gray"> -->
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-check-circle"></span>
    </p>
    <p>
      {{vm.codeschool.badges.length | number}} badges
    </p>
  </div>
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-star"></span>
    </p>
    <p>
      {{vm.codeschool.user.total_score | number}} points
    </p>
  </div>
  <div class="col-xs-4 m-t-3">
    <p>
      <span class="fa fa-laptop"></span>
    </p>
    <p>
      {{vm.codeschool.courses.completed[0].title}}
    </p>
  </div>
</div>
<div>
  <h2 class="cg-company-github">GitHub</h2>
  <!-- <hr class="star-gray"> -->
  <div class="col-xs-6 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-folder-open"></span>
    </p>
    <p>
      {{vm.github.public_repos}} Public Repos
    </p>
  </div>
  <div class="col-xs-6 m-t-3">
    <a href="https://github.com/chris-gaona">
      <p>
        <span class="fa fa-external-link-square"></span>
      </p>
      <p>
        My GitHub Repo
      </p>
    </a>
  </div>
</div>
