<div>
  <h2 class="cg-company-treehouse">Treehouse</h2>
  <hr class="star-gray">
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-check-circle"></span>
    </p>
    <p>
      78 badges
    </p>
  </div>
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-star"></span>
    </p>
    <p>
      16,000 points
    </p>
  </div>
  <div class="col-xs-4 m-t-3">
    <p>
      <span class="fa fa-certificate"></span>
    </p>
    <p>
      Full-Stack JavaScript Certificate
    </p>
  </div>
</div>
<div>
  <h2 class="cg-company-codeschool">CodeSchool</h2>
  <hr class="star-gray">
  <!-- <div class="cg-company"></div> -->
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-check-circle"></span>
    </p>
    <p>
      24 badges
    </p>
  </div>
  <div class="col-xs-4 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-star"></span>
    </p>
    <p>
      49,530 points
    </p>
  </div>
  <div class="col-xs-4 m-t-3">
    <p>
      <span class="fa fa-laptop"></span>
    </p>
    <p>
      Real-time Web with Node.js
    </p>
  </div>
</div>
<div>
  <h2 class="cg-company-github">GitHub</h2>
  <hr class="star-gray">
  <!-- <div class="cg-company"></div> -->
  <div class="col-xs-6 m-t-3 cg-carousel-container">
    <p>
      <span class="fa fa-folder-open"></span>
    </p>
    <p>
      29 Public Repos
    </p>
  </div>
  <div class="col-xs-6 m-t-3">
    <a href="https://github.com/chris-gaona">
      <p>
        <span class="fa fa-external-link-square"></span>
      </p>
      <p>
        My GitHub Repo
      </p>
    </a>
  </div>
</div>
