* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  color: #666;
}

h1 {
  font-size: 4.5em;
}

h2 {
  text-align: center;
  font-size: 3.5em;
}

.hamburger-container {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  cursor: pointer;
}

.hamburger-top {
  position: absolute;
  top: 5px;
  left: 0;
  width: 30px;
  height: 5px;
  background-color: #fd7d5f;
  transition: all 0.3s;
}

.hamburger-middle {
  position: absolute;
  top: 15px;
  left: 0;
  width: 30px;
  height: 5px;
  background-color: #fd7d5f;
}

.hamburger-bottom {
  position: absolute;
  top: 25px;
  left: 0;
  width: 30px;
  height: 5px;
  background-color: #fd7d5f;
  transition: all 0.3s;
}

.moveup {
  top: 0;
  transition: all 0.3s;
}

.movedown {
  top: 30px;
  transition: all 0.3s;
}

.rotate-top {
  top: 15px;
  transform: rotate(45deg);
}

.rotate-middle {
  display: none;
}

.rotate-bottom {
  top: 15px;
  transform: rotate(-45deg);
}

.dropdown {
  position: absolute;
  top: 85px;
  left: -20px;
  width: 250px;
  height: auto;
  background-color: #fd7d5f;
  border-radius: 5px;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0s;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 20px;
  border-bottom: 15px solid #fd7d5f;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.dropdown.visible {
  top: 55px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.dropdown ul {
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  position: relative;
  left: -500px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  border-bottom: 1px solid #fff;
  padding: 5px;
  list-style: none;
}

.dropdown ul li a {
  text-decoration: none;
  color: #fff;
}

.dropdown ul li a.active {
  color: #000;
}

.dropdown ul li:first-child {
  transition: all 0.6s;
}

.dropdown ul li:nth-child(2) {
  transition: all 0.7s;
}

.dropdown ul li:nth-child(3) {
  transition: all 0.8s;
}

.dropdown ul li:last-child {
  transition: all 0.9s;
}

.dropdown ul li.visible {
  left: 0;
}

/*.dropdown ul li:first-child::after {
  content: "\f054";
  font-family: FontAwesome;
  position: absolute;
  right: 15px;
  display: inline-block;
}*/

.dropdown ul li:last-child {
  border-bottom: none;
}

.brief-info {
  text-align: center;
  font-size: 1.5em;
}

hr.star-light,
hr.star-gray,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-gray:after,
hr.star-primary:after {
  content: "\f121";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.star-gray {
  border-color: #2C3E50;
}

hr.star-gray:after {
  background-color: #eee;
  color: #2C3E50;
}

hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #0099ff;
  color: white;
}

hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

span.fa-github {
  margin-right: 5px;
}

button.cg-github {
  position: relative;
  top: 0;
  left: 50%;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: -105px;
  font-size: 1.1em;
  background-color: #fff;
  border: 3px solid #fd7d5f;
  color: #fd7d5f;
}

.cg-header {
  background-color: #0099ff;
  color: #fff;
  padding: 5em 5em;
}

.cg-portfolio {
  background-color: #fff;
  padding: 7em 5em 5em 5em;
}

.portfolio-wrapper {
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.container-fluid .mix {
  display: none;
  width: 31%;
  margin: 1em 1%;
}

.expand-wrapper {
  position: relative;
  top: 120px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.3s;
}

span.fa-times {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 3em;
  cursor: pointer;
  color: #fd7d5f;
}

.cg-new {
  color: #fff;
  background-color: #0099ff;
  font-size: 1.5em;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
}

.cg-edit-small {
  position: absolute;
  top: 5px;
  right: 25px;
  background-color: #fd7d5f;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  z-index: 999;
}

.cg-project-main {
  position: relative;
  cursor: pointer;
}

.cg-project-details {
  width: 100%;
  margin: 0 !important;
}

.fade-out {
  top: 120px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.3s;
}

.fade-in {
  top: 0;
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: all 0.3s;
}

.card-block {
  position: relative;
}

.cg-github-repo {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px 20px;
  border: 2px solid #fd7d5f;
  border-radius: 5px;
  color: #fd7d5f;
  text-decoration: none;
  transition: all 0.3;
}

.cg-github-repo:hover {
  text-decoration: none;
  color: #666;
  transition: all 0.3;
}

.card-text .fa-check-circle {
  color: #14aa13;
}

.controls {
  position: relative;
  top: 0;
  left: 50%;
  width: 530px;
  margin-left: -265px;
  margin-bottom: 40px;
}

.controls label {
  font-size: 1.2em;
}

.controls button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: 3px solid #fd7d5f;
  outline: none;
  margin: 0 5px;
  font-size: 1.2em;
}

.show-more {
  position: relative;
  top: 0;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid #fd7d5f;
}

.cg-save-title {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
}

.form-wrapper {
  padding: 5em 2em;
  background-color: #0099ff;
}

.cg-form-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 4em 4em 2em 4em;
  border-radius: 5px;
  margin: 0 auto;
}

.cg-form-container input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 1em 0;
  border-radius: 5px;
  border: 2px solid #fd7d5f;
}

.cg-form-container textarea {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 1em 0;
  border-radius: 5px;
  border: 2px solid #fd7d5f;
}

.cg-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}

.cg-submit-btn {
  display: block;
}

.cg-parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/nature-pic-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.cg-carousel-container {
  border-right: 2px solid #ddd;
}

.cg-carousel {
  padding: 5em;
  color: #000;
  background: transparent;
}

.cg-carousel span {
  font-size: 4em;
  margin-bottom: 10px;
}

.cg-carousel span.fa-check-circle {
  color: #14aa13;
}

.cg-carousel span.fa-laptop {
  color: #0099ff;
}

.cg-carousel span.fa-star {
  color: gold;
}

.cg-carousel span.fa-certificate {
  color: #fd7d5f;
}

.cg-carousel p {
  font-size: 2em;
  text-align: center;
}

h2.cg-company-treehouse,
h2.cg-company-codeschool {
  position: relative;
  left: 50%;
  top: 0;
  width: 400px;
  padding-left: 90px;
  margin-left: -200px;
}

h2.cg-company-github {
  position: relative;
  left: 50%;
  top: 0;
  width: 300px;
  padding-left: 90px;
  margin-left: -150px;
}

h2.cg-company-treehouse::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url('../images/treehouse.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

h2.cg-company-codeschool::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url('../images/codeschool.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.cg-company-github::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url('../images/github.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.cg-aboutme {
  background-color: #fff;
  padding: 5em 6em 1em 6em;
}

.cg-aboutme-image {
  background-color: #fff;
  padding: 1em 3em 0 3em;
}

.cg-aboutme p {
  font-size: 1.5em;
}

.cg-myimage {
  position: relative;
  top: 2em;
  left: 50%;
  margin-left: -137.5px;
  height: 275px;
  width: 275px;
  background-image: url("../images/chrisgaona.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #000;
  border-radius: 50%;
  border: 10px solid #0099ff;
  z-index: 1000;
}

.cg-footer {
  position: relative;
  padding: 2em 0 2em 0;
  background-color: #0099ff;
}

.copyright {
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 2em;
  margin: 0;
  font-size: .9em;
  color: #fff;
}

.social {
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 1em;
  margin: 0;
  padding: 0;
  font-size: .9em;
  font-size: 2em;
}

.social a {
  color: #fff;
}

/*#fd7d5f*/
/*#0099ff*/
