* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  color: #666;
}

h1 {
  font-size: 4.5em;
}

h2 {
  text-align: center;
  font-size: 3.5em;
}

.brief-info {
  text-align: center;
  font-size: 1.5em;
}

hr.star-light,
hr.star-gray,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-gray:after,
hr.star-primary:after {
  content: "\f121";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.star-gray {
  border-color: #2C3E50;
}

hr.star-gray:after {
  background-color: #eee;
  color: #2C3E50;
}

hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #0099ff;
  color: white;
}

hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

span.fa-github {
  margin-right: 5px;
}

button.cg-github {
  position: relative;
  top: 0;
  left: 50%;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: -105px;
  font-size: 1.1em;
  background-color: #fff;
  border: 3px solid #fd7d5f;
  color: #fd7d5f;
}

.cg-header {
  background-color: #0099ff;
  color: #fff;
  padding: 5em 5em;
}

.cg-portfolio {
  padding: 7em 5em 5em 5em;
}

.container-fluid .mix {
  display: none;
  width: 31%;
  margin: 1em 1%;
}

.controls {
  position: relative;
  top: 0;
  left: 50%;
  width: 530px;
  margin-left: -265px;
  margin-bottom: 40px;
}

.controls label {
  font-size: 1.2em;
}

.controls button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: 3px solid #fd7d5f;
  outline: none;
  margin: 0 5px;
  font-size: 1.2em;
}

.cg-carousel-container {
  border-right: 2px solid #ddd;
}

.cg-carousel {
  padding: 5em;
  background-color: #eee;
}

.cg-carousel span {
  font-size: 4em;
  margin-bottom: 10px;
}

.cg-carousel span.fa-check-circle {
  color: #14aa13;
}

.cg-carousel span.fa-laptop {
  color: #0099ff;
}

.cg-carousel span.fa-star {
  color: gold;
}

.cg-carousel span.fa-certificate {
  color: #fd7d5f;
}

.cg-carousel p {
  font-size: 2em;
  text-align: center;
}

h2.cg-company-treehouse,
h2.cg-company-codeschool {
  position: relative;
  left: 50%;
  top: 0;
  width: 400px;
  padding-left: 90px;
  margin-left: -200px;
}

h2.cg-company-github {
  position: relative;
  left: 50%;
  top: 0;
  width: 300px;
  padding-left: 90px;
  margin-left: -150px;
}

h2.cg-company-treehouse::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url('../images/treehouse.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

h2.cg-company-codeschool::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url('../images/codeschool.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.cg-company-github::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url('../images/github.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.cg-aboutme {
  padding: 5em 6em 1em 6em;
}

.cg-aboutme-image {
  padding: 1em 3em 1em 3em;
}

.cg-aboutme p {
  font-size: 1.5em;
}

.cg-myimage {
  position: relative;
  top: 3.5em;
  left: 50%;
  margin-left: -137.5px;
  height: 275px;
  width: 275px;
  background-image: url("../images/chrisgaona.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 10px 15px #000;
  z-index: 1000;
}

.cg-footer {
  padding: 2em 5em 2em 5em;
  background-color: #0099ff;
}

/*#fd7d5f*/
/*#0099ff*/
