* {
  box-sizing: border-box;
}

.container .mix {
  display: none;
  width: 31.33333%;
  margin: 1em 1%;
}
/*.container .mix.category-Elements {
    color:red;
}
.container .mix.category-Soft {
    color:blue;
}*/
