<div class="cg-dashboard-main container-fluid">
  <div class="row">
    <div class="cg-dashboard-section">
      <div class="cg-dashboard-wrapper">
        <h4>Budget</h4>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-budget-totals cg-db-budget-blue">
            <p>
              Total Cash
            </p>
            <p class="total-cash">
              {{(vm.budgets[0].existing_cash + vm.current_cash) - vm.getTotalSpent() | currency}}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-budget-totals cg-db-budget-green">
            <p>
              Current Budget
            </p>
            <p class="current-cash">
              {{vm.budgets[0].current_cash | currency}}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-budget-totals cg-db-budget-purple">
            <p>
              Spent <span>{{(vm.getTotalSpent() / vm.budgets[0].current_cash) * 100 | number :0}}%</span>
            </p>
            <p class="current-cash">
              {{vm.getTotalSpent() | currency}}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-budget-totals cg-db-budget-light-blue">
            <p>
              Saving <span>{{((vm.budgets[0].current_cash - vm.getTotalSpent()) / vm.budgets[0].current_cash) * 100 | number :0}}%</span>
            </p>
            <p class="current-cash">
              {{vm.budgets[0].current_cash - vm.getTotalSpent() | currency}}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-9 p-y-1">
          <div class="cg-db-budget-graph">
            <p class="cg-db-title text-uppercase">
              Saving - Projection vs Actual
            </p>
            <canvas height="95" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels"
            chart-series="vm.series"></canvas>
          </div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-3 p-y-1">
          <div class="cg-db-budget-graph">
            <p class="cg-db-title text-uppercase">
              Average Saving per Period
            </p>
              <div class="cg-db-budget-sub">
                <div class="cg-db-budget-progress ng-cloak">{{ vm.preciseCurrent }}%</div>
                <round-progress max="vm.max" current="vm.current" color="{{ (vm.current < 10) ? '#fff68f' : '#5cb85c' }}" bgcolor="#eaeaea" radius="85" stroke="15" duration="1000" rounded="true" animation="easeInOutQuart" on-render="vm.showPreciseCurrent"></round-progress>
              </div>
              <!-- <div class="cg-db-budget-sub m-l-2">
                <div class="cg-db-budget-progress-dollars ng-cloak">${{ vm.preciseCurrentDollar }}</div>
                <round-progress max="vm.maxDollar" current="vm.currentDollar" color="{{ (vm.currentDollar / vm.maxDollar < .1) ? '#fff68f' : '#5cb85c' }}" bgcolor="#eaeaea" radius="65" stroke="15" duration="1000" rounded="true" animation="easeInOutQuart" on-render="vm.showPreciseCurrentDollars"></round-progress>
              </div> -->
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-xs-12 col-xl-9 p-y-1">
          <div class="cg-db-budget-graph clearfix">
            <p class="cg-db-title text-uppercase">
              Current Budget Start -
              <select ng-model="vm.currentBudget" ng-options="budget.start_period as (budget.start_period | date: 'MMMM d, yyyy') for budget in vm.allBudgets" ng-change="vm.updateBudget()"></select>
            </p>
            <form>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input type="text" class="form-control m-t-0" placeholder="Keyword Search" ng-model="searchTerm">
                </div>
              </div>
            </form>

            <table>
              <thead>
                <tr>
                  <th ng-click="sortType = 'item'; sortReverse = !sortReverse" class="table-title">
                      Item
                      <span ng-hide="sortType == 'item'" class="fa fa-caret-up caret-top"></span>
                      <span ng-hide="sortType == 'item'" class="fa fa-caret-down caret-bottom"></span>
                      <span ng-show="sortType == 'item' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'item' && sortReverse" class="fa fa-caret-up"></span>
                  </th>
                  <th ng-click="sortType = 'projection'; sortReverse = !sortReverse" class="table-title">
                      Projection
                      <span ng-hide="sortType == 'projection'" class="fa fa-caret-up caret-top"></span>
                      <span ng-hide="sortType == 'projection'" class="fa fa-caret-down caret-bottom"></span>
                      <span ng-show="sortType == 'projection' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'projection' && sortReverse" class="fa fa-caret-up"></span>
                  </th>
                  <th ng-click="sortType = 'actual_total'; sortReverse = !sortReverse" class="table-title">
                      Actual
                      <span ng-hide="sortType == 'actual_total'" class="fa fa-caret-up caret-top"></span>
                      <span ng-hide="sortType == 'actual_total'" class="fa fa-caret-down caret-bottom"></span>
                      <span ng-show="sortType == 'actual_total' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'actual_total' && sortReverse" class="fa fa-caret-up"></span>
                  </th>
                  <th ng-click="sortType = 'projection - actual_total'; sortReverse = !sortReverse" class="table-title">
                      Left in Budget
                      <span ng-hide="sortType == 'projection - actual_total'" class="fa fa-caret-up caret-top"></span>
                      <span ng-hide="sortType == 'projection - actual_total'" class="fa fa-caret-down caret-bottom"></span>
                      <span ng-show="sortType == 'projection - actual_total' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'projection - actual_total' && sortReverse" class="fa fa-caret-up"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.convertBudgetArray(vm.budgets[0].budget_items) | orderBy:sortType:sortReverse | filter:searchTerm">
                  <td class="cg-db-budget-editable" ng-click="[vm.chosenItem(item), vm.editChosenItem(item)]">
                    <div ng-hide="item.editing">{{item.item}}</div>
                    <input class="form-control" type="text" ng-show="item.editing" ng-model="item.item">
                  </td>
                  <td class="cg-db-budget-editable" ng-click="[vm.chosenItem(item), vm.editChosenItem(item)]">
                    <div ng-hide="item.editing">
                      {{item.projection | currency}}
                    </div>
                    <input class="form-control" type="number" ng-show="item.editing" ng-model="item.projection">
                  </td>
                  <td class="cg-db-budget-editable" ng-click="[vm.chosenItem(item), vm.modalShown = true]">{{item.actual_total | currency}} </td>
                  <td ng-class="{'danger-red': item.projection - vm.getTotals(item.actual) < 0}">{{item.projection - item.actual_total | currency}}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary m-r-1" ng-click="vm.editBudget()">Save</button>
            <a href="#" ng-click="vm.addNewItem()">+ Add New Item</a>
            <button class="btn btn-danger pull-xs-right" ng-show="vm.checkEditing()" ng-click="vm.deleteChosenItem(vm.chosenBudgetItem)">Delete Item</button>
            <button class="btn btn-secondary pull-xs-right m-r-1" ng-show="vm.checkEditing()" ng-click="vm.stopAllEditing()">Stop Editing</button>
            <budget-modal show='vm.modalShown' width='400px' height='auto'>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th class="cg-db-budget-th"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.chosenBudgetItem.actual">
                    <td class="cg-db-budget-editable">
                      <input type="text" ng-model="item.name">
                    </td>
                    <td class="cg-db-budget-editable">
                      <input type="number" ng-model="item.amount">
                    </td>
                    <td>
                      <span class="fa fa-trash" ng-click="vm.deleteActualItem(item)"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-primary m-r-1" ng-click="vm.editBudget()">Save</button>
              <a href="#" ng-click="vm.addEmptyActualItem()">+ Add New Item</a>
            </budget-modal>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 p-y-1">
          <div class="cg-db-budget-previous">
            <p class="cg-db-title text-uppercase">
              Other Actions
            </p>
            <button class="d-block btn btn-primary m-b-2">Start New Period</button>
            <p class="m-b-1">
              <a href="#">Subtract directly from savings</a>
            </p>
            <p>
              <a href="#">Add in-transfer money</a>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3 p-y-1">
          <div class="cg-db-budget-previous">
            <p class="cg-db-title text-uppercase">
              Recently Viewed Budgets
            </p>
          </div>
        </div>
      </div>
      <div id="footer">
        <p>
          &#169; 2016 - chrisgaona.com
        </p>
      </div>
    </div>
  </div>
</div>
