<div class="cg-dashboard-main container-fluid">
  <div class="row">
    <div class="cg-dashboard-section">
      <div class="cg-dashboard-wrapper">
        <h4>Budget</h4>
        <div class="col-xs-12 col-lg-8 p-y-1">
          <div class="cg-db-budget-graph">
            <p class="cg-db-title text-uppercase">
              Saving - Projection vs Actual
            </p>
            <canvas height="75" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels"
            chart-series="vm.series"></canvas>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4 p-y-1">
          <div class="cg-db-budget-graph">
            <p class="cg-db-title text-uppercase">
              Average Saving per Period
            </p>
            <div class="cg-db-budget-progress ng-cloak">{{ vm.preciseCurrent }}%</div>
            <round-progress max="vm.max" current="vm.current" color="#45ccce" bgcolor="#eaeaea" radius="65" stroke="15" duration="1000" animation="easeInOutQuart" on-render="vm.showPreciseCurrent"></round-progress>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 p-y-1">
          <div class="cg-db-budget-graph">
            <p>
              Circular bar chart that shows average saving in dollars per pay period over last 6 months
            </p>
            <!-- <canvas id="doughnut" class="chart chart-doughnut" chart-data="doughnutData" chart-labels="doughnutLabels"></canvas> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
