<div class="cg-main-fixed-wrapper"></div>
<div class="cg-dashboard-container">
  <a href="/"><img class="logo" src="../images/logo.png" alt="logo" /></a>
  <p class="cg-dashboard-back-button" ng-click="vm.goBack()">
    <span class="fa fa-long-arrow-left"></span>
     Home
  </p>
  <span class="fa fa-bars cg-db-menu-button"></span>
  <div class="cg-bell-container">
    <span class="fa fa-bell-o"></span><span class="cg-notifications">5</span>
  </div>
</div>
<div class="cg-dashboard-main container-fluid">
  <div class="row">
    <div class="aside-menu">
      <div class="cg-db-user-container">
        <div class="cg-db-user-image"></div>
        <p class="text-muted">Welcome Chris!</p>
      </div>
      <div class="cg-db-main-aside">
        <p class="cg-nav-title text-muted">main navigation</p>
        <ul>
          <li ng-class="{'active': vm.showDashboard}" ng-click="[vm.showDashboard = !vm.showDashboard, vm.showBudget = false]"><span class="fa fa-dashboard"></span>Dashboard</li>
          <li ng-class="{'active': vm.showBudget}" ng-click="[vm.showBudget = !vm.showBudget, vm.showDashboard = false]"><span class="fa fa-money"></span>Budget</li>
          <li><span class="fa fa-heart"></span>Workouts</li>
          <li><span class="fa fa-list-ul"></span>To Do's</li>
          <li><span class="fa fa-plus"></span>New Project</li>
          <li><span class="fa fa-edit"></span>Edit Project</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cg-dashboard-section clearfix">
      <div class="cg-dashboard-wrapper clearfix" ng-class="{'fade-in': vm.showDashboard}">
        <dashboard labels="vm.labels" series="vm.series" data="vm.data" config="vm.uiConfig" event-sources="vm.eventSources"></dashboard>
      </div>
      <div class="cg-budget-wrapper clearfix" ng-class="{'fade-in': vm.showBudget}">
        <budget labels="vm.labels" series="vm.series" data="vm.data" config="vm.uiConfig" event-sources="vm.eventSources" current="vm.current" max="vm.max" show-precise="vm.showPreciseCurrent " precise-current="vm.preciseCurrent"></budget>
      </div>
    </div>
  </div>
</div>
