<div class="cg-dashboard-main container-fluid">
  <div class="row">
    <div class="cg-dashboard-section">
      <div class="cg-dashboard-wrapper">
        <!-- <dashboard labels="vm.labels" series="vm.series" data="vm.data" config="vm.uiConfig" event-sources="vm.eventSources"></dashboard> -->
        <h4>Dashboard</h4>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-section col-xs-4 cg-blue">
            <p>
              <span class="fa fa-money"></span>
            </p>
          </div>
          <div class="cg-db-section col-xs-8 cg-white">
            <p class="text-uppercase">Saving</p>
            <h5>{{vm.budgets[0].current_cash - vm.getTotalSpent() | currency}}</h5>
            <div class="text-xs-center" id="example-caption-4">{{((vm.budgets[0].current_cash - vm.getTotalSpent()) / vm.budgets[0].current_cash) * 100 | number :0}}%</div>
            <progress class="progress-blue" value="{{((vm.budgets[0].current_cash - vm.getTotalSpent()) / vm.budgets[0].current_cash) * 100 | number :0}}" max="100" aria-describedby="example-caption-4"></progress>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-section col-xs-4 cg-green">
            <p>
              <span class="fa fa-heart"></span>
            </p>
          </div>
          <div class="cg-db-section col-xs-8 cg-white">
            <p class="text-uppercase cg-db-workout-title">PR Tracking</p>
            <div class="col-xs-6 p-l-0">
              <h6>Back Squat</h6>
              <!-- <div class="text-xs-center" id="example-caption-4">75%</div> -->
              <progress class="progress-green" value="25" max="100" aria-describedby="example-caption-4"></progress>
            </div>
            <div class="col-xs-6 p-x-0">
              <h6>Front Squat</h6>
              <!-- <div class="text-xs-center" id="example-caption-4">75%</div> -->
              <progress class="progress-green" value="75" max="100" aria-describedby="example-caption-4"></progress>
            </div>
            <div class="col-xs-6 p-l-0">
              <h6>Deadlift</h6>
              <!-- <div class="text-xs-center" id="example-caption-4">75%</div> -->
              <progress class="progress-green" value="50" max="100" aria-describedby="example-caption-4"></progress>
            </div>
            <div class="col-xs-6 p-x-0">
              <h6>Bench Press</h6>
              <!-- <div class="text-xs-center" id="example-caption-4">75%</div> -->
              <progress class="progress-green" value="60" max="100" aria-describedby="example-caption-4"></progress>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-section col-xs-4 cg-purple">
            <p>
              <span class="fa fa-list-ul"></span>
            </p>
          </div>
          <div class="cg-db-section col-xs-8 cg-white">
            <p class="text-uppercase">
              To Do's
            </p>
            <h5>5 of 7 complete</h5>
            <div class="text-xs-center" id="example-caption-4">75%</div>
            <progress class="progress-purple" value="75" max="100" aria-describedby="example-caption-4"></progress>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-3 p-y-1">
          <div class="cg-db-section col-xs-4 cg-light-blue">
            <p class="text-sm">September</p>
            <p class="cg-now-date">10</p>
          </div>
          <div class="cg-db-section col-xs-8 cg-white cg-db-padding">
            <p class="text-uppercase">Saturday</p>
            <h3>3:52 <span class="text-uppercase">am</span></h3>
          </div>
        </div>

        <div class="col-xs-12 col-xl-9 m-t-1">
          <div class="cg-db-graph">
            <p class="cg-db-title text-uppercase">
              Saving - Projection vs Actual
            </p>
            <!-- <p>
              Graph showing saving over the past 6 months vs projection
            </p> -->
            <canvas height="75" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels"
            chart-series="vm.series"></canvas>
          </div>
        </div>
        <div class="col-xs-12 col-xl-3 m-t-1">
          <div class="cg-db-aside">
            <p class="cg-db-title text-uppercase">
              Recent Workout
              <span class="fa fa-arrow-right"></span>
            </p>
            <span></span>
            <p class="cg-db-workout-item">
              <span>10</span>
              box jumps
            </p>
            <p class="cg-db-workout-item">
              <span>15</span>
              hang power cleans
            </p>
            <p class="cg-db-workout-item">
              <span>20</span>
              pull-ups
            </p>
            <p class="cg-db-workout-count">
              3 rounds for time
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-xl-9 m-t-1">
          <div class="cg-db-calendar">
            <p class="cg-db-title text-uppercase">
              Calendar
            </p>
            <div ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"></div>
          </div>
        </div>
        <div class="col-xs-12 col-xl-3 m-t-1">
          <div class="cg-db-latest-activities">
            <p class="cg-db-title text-uppercase">
              Latest Activities
            </p>
            <div class="cg-db-activities-container">
              <span class="fa fa-plus cg-db-new-project"></span>
              <p class="cg-db-activities-title">
                New Project Added
              </p>
              <p class="cg-db-activities-sub text-muted">
                Build a website with Gulp
              </p>
              <span class="cg-db-activities-time text-muted">25m</span>
            </div>
            <div class="cg-db-activities-container">
              <span class="fa fa-heart cg-db-new-workout"></span>
              <p class="cg-db-activities-title">
                New Workout
              </p>
              <p class="cg-db-activities-sub text-muted">
                3 rounds for time
              </p>
              <span class="cg-db-activities-time text-muted">1d</span>
            </div>
            <div class="cg-db-activities-container">
              <span class="fa fa-list-ul cg-db-new-task"></span>
              <p class="cg-db-activities-title">
                New Task added
              </p>
              <p class="cg-db-activities-sub text-muted">
                Walk the dog
              </p>
              <span class="cg-db-activities-time text-muted">50m</span>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <p>
          &#169; 2016 - chrisgaona.com
        </p>
      </div>
    </div>
  </div>
</div>
