<div class="card-deck-wrapper cg-project-details">
  <div class="card-deck">
    <div class="card">
      <span class="fa fa-times" ng-click="show = false"></span>
      <div class="card-image-top cg-expand-image" ng-style="{'background-image': 'url(' + project.image + ')'}"></div>
      <div class="card-block">
        <a href="{{project.github_link}}" target="_blank" class="cg-github-repo">GitHub Repo</a>
        <a ng-if="project.link" href="{{project.link}}" target="_blank" class="cg-live-link">Live Preview</a>
        <h4 class="card-title">{{project.name}}</h4>
        <!--<p class="card-text" ng-show="project.grade">-->
          <!--<span class="fa fa-check-circle"></span> {{project.grade}}-->
        <!--</p>-->
        <p class="card-text" ng-show="project.comments">
          <b><i>Project Description: </i></b>
          {{project.comments}}
        </p>
        <!--<p class="card-text" ng-show="project.treehouse_comments">-->
          <!--<b><i>Treehouse Professional Reviewer Comments: </i></b>-->
          <!--{{project.treehouse_comments}}-->
        <!--</p>-->
        <p class="card-text">
          <small class="cg-tag-title">Tags: </small>
          <small class="cg-tags" ng-repeat="tag in project.category">{{tag}}</small>
          <div class="clearfix"></div>
        </p>
        <p class="card-text">
          <small class="text-muted">Created on: {{project.created_on | date: 'MMM d, yyyy'}}</small>
        </p>
      </div>
    </div>
  </div>
  <div class="cg-heart-container" ng-click="likeButton({id: project._id}); incrementCount({project: project}); thankyou = true">
    <span class="cg-thankyou" ng-class="{'visible': thankyou}">Thank you!</span>
    <span class="fa fa-heart-o cg-heart"></span>
    <span class="cg-heart-count">{{project.likes}}</span>
  </div>
</div>
