<div class="hamburger-container" ng-click="vm.click = !vm.click">
  <hamburger variable="vm.click" hover="vm.hover"></hamburger>
</div>

<div class="cg-user-container" ng-show="vm.isLoggedIn">
  <div class="cg-user">
    <span>Welcome {{vm.user.firstName}}</span>
    <button type="button" ng-click="vm.logOut()">Log Out</button>
  </div>
  <div class="cg-user-mobile">
    <span class="fa fa-user" ng-click="user = !user"></span>
    <ul ng-class="{'user-visible': user}">
      <li>Welcome {{vm.user.firstName}}</li>
      <li class="cg-logout" ng-click="vm.logOut()">Logout</li>
    </ul>
  </div>
</div>

<div class="cg-parallax"></div>

<div class="container-fluid col-xs-12 cg-header">
  <div class="cg-header-inner">
    <div class="row">
      <h1 class="text-xs-center">Chris Gaona Portfolio</h1>
      <hr class="star-light wow fadeInUp" data-wow-delay=".4s">
      <p class="brief-info wow fadeInUp" data-wow-delay=".4s">
        Full-Stack JavaScript - Android - MEAN/MERN Stack
      </p>
      <div class="main-button-container wow fadeInUp" data-wow-delay=".4s">
        <a href="https://github.com/chris-gaona" target="_blank">
          <button class="cg-github"><span class="fa fa-github"></span>GitHub Repo</button>
        </a>
        <a href="/resume">
          <button class="cg-my-resume"><span class="fa fa-file-text-o"></span>My Resume</button>
        </a>
      </div>
      <!--<p><span class="fa fa-code icon"></span><span class="fa fa-codepen icon"></span><span class="fa fa-code-fork icon"></span><span class="fa fa-terminal icon"></span><span class="fa fa-file-code-o icon"></span><span class="fa fa-github icon"></span><span class="fa fa-git icon"></span><span class="fa fa-cloud icon"></span><span class="fa fa-comment-o icon"></span><span class="fa fa-database icon"></span><span class="fa fa-language icon"></span><span class="fa fa-television icon"></span><span class="fa fa-wrench icon"></span><span class="fa fa-tablet icon"></span><span class="fa fa-slack icon"></span><span class="fa fa-spotify icon"></span><span class="fa fa-font-awesome icon"></span><span class="fa fa-apple icon"></span><span class="fa fa-chrome icon"></span><span class="fa fa-stack-overflow icon"></span><span class="fa fa-html5 icon"></span><span class="fa fa-twitter icon"></span><span class="fa fa-css3 icon"></span><span class="fa fa-linkedin icon"></span></p>-->
    </div>
  </div>
</div>

<div class="container-fluid col-xs-12 cg-portfolio" id="portfolio">
  <div class="row">
    <h2>Portfolio</h2>
    <hr class="star-primary">
    <div class="portfolio-wrapper" ng-class="{'fade-out': vm.expandProject}">
      <div class="controls" >
        <label ng-click="vm.filterVisible = !vm.filterVisible" ng-class="{'rotate': vm.filterVisible}"><span class="fa fa-filter"></span> Filter</label>
        <ul class="cg-filter" ng-show="vm.filterVisible" ng-class="{'fade-controls': vm.filterVisible}">
          <li class="filter" data-filter="all" ng-click="vm.setActiveFilter('all')"><span class="fa" ng-class="{'fa-square-o': vm.activeFilter !== 'all', 'fa-check-square-o': vm.activeFilter === 'all'}"></span> All</li>
          <li class="filter" data-filter=".{{category}}" ng-repeat="category in vm.uniqueCat" ng-click="vm.setActiveFilter(category)"><span class="fa" ng-class="{'fa-check-square-o': vm.activeFilter === category, 'fa-square-o': vm.activeFilter !== category}"></span> {{category}}</li>
        </ul>

        <label ng-click="vm.sortVisible = !vm.sortVisible" ng-class="{'rotate': vm.sortVisible}"><span class="fa fa-sort-amount-asc"></span> Sort</label>
        <ul class="cg-sort" ng-show="vm.sortVisible" ng-class="{'fade-controls': vm.sortVisible}">
          <li class="sort" data-sort="myorder:asc" ng-click="vm.setActiveSort('asc')"><span class="fa" ng-class="{'fa-check-square-o': vm.activeSort === 'asc', 'fa-square-o': vm.activeSort !== 'asc'}"></span> Asc</li>
          <li class="sort" data-sort="myorder:desc" ng-click="vm.setActiveSort('desc')"><span class="fa" ng-class="{'fa-check-square-o': vm.activeSort === 'desc', 'fa-square-o': vm.activeSort !== 'desc'}"></span> Desc</li>
          <li class="sort" data-sort="dateorder:asc" ng-click="vm.setActiveSort('oldest')"><span class="fa" ng-class="{'fa-check-square-o': vm.activeSort === 'oldest', 'fa-square-o': vm.activeSort !== 'oldest'}"></span> Oldest</li>
          <li class="sort" data-sort="dateorder:desc" ng-click="vm.setActiveSort('newest')"><span class="fa" ng-class="{'fa-check-square-o': vm.activeSort === 'newest', 'fa-square-o': vm.activeSort !== 'newest'}"></span> Newest</li>
        </ul>
      </div>
      <p>
        <button class="cg-new" ng-show="vm.isLoggedIn" ng-click="vm.newProject()">+ Add new project</button>
      </p>
      <mixitup entities='vm.projects' item-click="vm.getProject(item)" edit-button="vm.editProject(id)" logged-in="vm.isLoggedIn" like-button="vm.addLike(id)" increment-count="vm.incrementCount(project)"></mixitup>
      <p class="cg-project-error" ng-show="vm.projects.error">
        {{vm.projects.error.message}}
      </p>
      <!-- <p>
        <button class="show-more">Show More</button>
      </p> -->
    </div>
    <div class="expand-wrapper" ng-class="{'fade-in': vm.expandProject}">
      <expand-project show='vm.expandProject' project='vm.chosenProject' like-button="vm.addLike(id)" increment-count="vm.incrementCount(project)"></expand-project>
    </div>
  </div>
</div>

<div class="container-fluid col-xs-12 cg-carousel" id="accomplishments">
  <div class="row">
    <owl-carousel class="owl-carousel owl-theme" data-options="{autoplay: true, loop: true, items: 1, autoplayHoverPause: true, margin: 20}"></owl-carousel>
    <!-- autoplay: true -->
  </div>
</div>

<div class="container-fluid col-xs-12 cg-aboutme" id="aboutme">
  <div class="row">
    <h2 class="text-xs-center">About Me</h2>
    <hr class="star-primary">
    <div class="cg-myimage wow flipInX"></div>
    <p>
      My name is Chris Gaona and I'm a Full-Stack JavaScript and Android Developer. Over the past number of years, I've been working on a number of projects focusing on Full Stack JavaScript and Android. I've worked with Angular (1-5), React, React Native, TypeScript, NodeJS, jQuery, HTML5, SASS, and many others, which you can see above or on my resume. One of the qualities that makes me stand out above most others is my desire to learn. I enjoy learning new ideas, coding languages, and platforms. I am currently working for POC Medical Systems as a Software Engineer. You can see the various projects I have worked on above or by clicking on the various links on this page to see my GitHub account. Enjoy!
    </p>
    <a class="twitter-follow-button" href="https://twitter.com/chrissgaona">Follow @chrissgaona</a>
  </div>
</div>

<div class="container-fluid col-xs-12 col-md-6 cg-google-map-container">
  <div class="row">
    <div class="cg-google-map">
      <div class="cg-weather">
        <span>{{vm.weather.currently.temperature | number:0}}&deg; </span>
      </div>
      <h5>Currently in Livermore, CA</h5>
      <ng-map center="[37.6819, -121.7680]" scrollwheel="false" style="height: 260px">
        <marker position="37.6819, -121.7680" title="Hey There!"></marker>
      </ng-map>
    </div>
  </div>
</div>

<div class="container-fluid col-xs-12 col-md-6 cg-twitter-container">
  <div class="row">
    <div class="cg-twitter">
      <a class="twitter-timeline" data-height="313" href="https://twitter.com/chrissgaona">Tweets by chrissgaona</a>
    </div>
  </div>
</div>

<div class="container-fluid col-xs-12 cg-footer">
  <div class="row">
    <p class="copyright">
      Copyright <span class="fa fa-copyright"></span> 2018 by Chris Gaona
    </p>
    <p class="social">
      <a href="https://www.facebook.com/chris.gaona.775" target="_blank"><span class="fa fa-facebook-square"></span></a>
      <a href="https://twitter.com/chrissgaona" target="_blank"><span class="fa fa-twitter-square"></span></a>
      <a href="https://www.linkedin.com/in/christophergaona" target="_blank"><span class="fa fa-linkedin-square"></span></a>
      <a href="https://github.com/chris-gaona" target="_blank"><span class="fa fa-github-square"></span></a>
    </p>
    <img ng-click="vm.loginButton()" class="footer-logo" src="../images/logo.png" alt="logo" />
  </div>
</div>
