<div id="cg-form" class="form-wrapper">
  <div class="cg-form-container">
    <p class="cg-back-button" ng-click="vm.goBack()">
      <span class="fa fa-long-arrow-left"></span>
       Back
    </p>
    <h2>{{ vm.project ? vm.project.name : 'Add New Project' }}</h2>
    <div ng-show="vm.hasValidationErrors" class="cg-validation-container">
      <h4 class="validation--errors--label">Validation errors</h4>
      <validation-errors errors="vm.validationErrors"></validation-errors>
    </div>
    <form ng-submit="vm.saveProject()">
      <input id="name" type="text" name="name" ng-model="vm.name" placeholder="Project Name" autofocus>
      <input id="category" type="text" name="category" ng-model="vm.category" placeholder="Category">
      <input id="image" type="text" name="image" ng-model="vm.image" placeholder="Image URL">
      <div ngf-drop="vm.upload($file)" ngf-select="vm.upload($file)" ng-model="vm.file" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" accept="image/*">Drop images here or click to upload</div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <img class="preview-image" ngf-src="vm.file" alt="Image" />
      <img class="preview-image" ng-show="vm.project" ng-src="{{vm.image}}" alt="Image" />
      <datepicker date-format="MMMM d, yyyy">
        <input id="created_on" type="text" name="created_on" ng-model="vm.created_on" placeholder="Created On Date">
      </datepicker>
      <input id="link" type="text" name="link" ng-model="vm.link" placeholder="Live Preview Link">
      <input id="github_link"type="text" name="github_link" ng-model="vm.github_link" placeholder="GitHub Link">
      <textarea id="comments" type="text" name="comments" rows="10" ng-model="vm.comments" placeholder="Comments"></textarea>
      <textarea id="treehouse_comments" type="text" rows="10" name="treehouse_comments" ng-model="vm.treehouse_comments" placeholder="Treehouse Comments"></textarea>
      <div class="cg-select-container">
        <select ng-model="vm.grade" ng-options="grade.name as grade.name for grade in vm.grades">
          <option value="">Choose Grade...</option>
        </select>
        <span class="fa fa-chevron-down"></span>
      </div>
      <button type="submit" class="btn btn-primary cg-submit-btn">{{ vm.project ? 'Update' : 'Create' }}</button>
    </form>
  </div>
</div>
