<div class="cg-main-wrapper"></div>
<div class="cg-resume-container">
  <p class="cg-back-button" ng-click="vm.goBack()">
    <span class="fa fa-long-arrow-left"></span>
     Back
  </p>
  <h2 class="resume-title">My Resume</h2>
  <h3 class="resume-sub-title">Christopher Gaona</h3>
  <div class="print-links clearfix">
    <span>https://www.linkedin.com/in/christophergaona</span>
    <span>https://github.com/chris-gaona</span>
  </div>
  <div class="link-container">
    <a href="https://www.linkedin.com/in/christophergaona" target="_blank">LinkedIn</a>
     |
    <a href="https://github.com/chris-gaona" target="_blank">GitHub</a>
     |
    <a href="https://s3-us-west-1.amazonaws.com/chrisgaonaportfolio/Christopher_Gaona_Resume.pdf" download target="_blank">Download</a>
     |
    <a href="#" ng-click="vm.printResume()">Print</a>
  </div>
  <h5 class="resume-minor-title">Recent Projects</h5>
    <ul class="work-container">
        <li class="work-sub-container">
            <p class="work-title">POC Android App</p>
            <img src="https://s3-us-west-1.amazonaws.com/chrisgaonaportfolio/images/poc-mammoalert.png" alt="POC Android App">
            <p class="project-text">While I worked at POC Medical Systems, I had the opportunity to learn Android development since my company had just lost its only Android developer. It was a challenging experience to learn a new language on the job as quickly as possible while providing great results. During my time, I worked with 2 other colleagues to develop an Android app that would integrate with the medical device and the API's I had developed.
            </p>
            <div class="clearfix"></div>
        </li>
        <li class="work-sub-container">
            <p class="work-title">POC Patient & Test API's</p>
            <img src="https://s3-us-west-1.amazonaws.com/chrisgaonaportfolio/images/poc-test-api.png" alt="Test / Patient API's">
            <p class="project-text">
                While working at POC Medical Systems, I developed their various API's using Node.js, Express, and Mongodb. These API's were used to store data sent from the medical device through the Android app (see above) to Mongodb. They were also used to retrieve data for the Mongodb Console (see below) and to retrieve specific data for each patient via the patient app (iOS & Android).
            </p>
            <div class="clearfix"></div>
        </li>
        <li class="work-sub-container">
            <p class="work-title">Mongodb Console</p>
            <img src="https://s3-us-west-1.amazonaws.com/chrisgaonaportfolio/images/mongo-console.png" alt="Mongodb Console">
            <p class="project-text">Again, at POC Medical Systems, I developed a Mongodb Console using Express/Node.js/Pug to be able to easily extract and manipulate all our data in Mongodb. Users could easily query for data using an easy to use interface that was similar to searching and filtering for the right car. I was responsible for constantly updating the way the interface worked based on user requirements. <span>View a live example <a href="https://review.pocmedsys.com">here</a>.</span>
            </p>
            <div class="clearfix"></div>
        </li>
    </ul>

  <h5 class="resume-minor-title">Technical Skills</h5>
    <ul class="tech-skills clearfix">
        <li>Full Stack JavaScript</li>
        <li>Android Development</li>
        <li>Android Studio</li>
        <li>MEAN Stack</li>
        <li>Angular (1-4)</li>
        <li>Java</li>
        <li>TypeScript</li>
        <li>Mongodb</li>
        <li>Mongoose</li>
        <li>Amazon Web Services</li>
        <li>SQLite</li>
        <li>Sequelize (ORM)</li>
        <li>Express</li>
        <li>NodeJS</li>
        <li>HTML5</li>
        <li>CSS, SASS, SCSS</li>
        <li>jQuery</li>
        <li>AJAX</li>
        <li>CORS</li>
        <li>Git (GitHub, Version Control)</li>
        <li>Webpack</li>
        <li>Browserify</li>
        <li>NPM Scripts</li>
        <li>Gulp</li>
        <li>Karma / Jasmine</li>
        <li>Protractor</li>
        <li>Mocha / Chai</li>
    </ul>
  <h5 class="resume-minor-title">Work Experience</h5>
  <ul class="work-container">
      <li class="work-sub-container">
          <p class="work-title">
              Software Engineer
          </p>
          <span class="company-name">POC Medical Systems</span>
          <span class="work-dates">March 2017 - Present | Livermore, CA</span>
          <ul>
              <li>Successfully designed and implemented multiple API's to handle requests from our various apps/software. These API's were built with Express and Node.js using Mongodb as the database</li>
              <li>Worked alongside two other teammates to develop an Android app to integrate with our medical device and the API's that I developed</li>
              <li>Maintained the Node.js code on the medical device that integrated with the C code to actually run the device</li>
              <li>Maintained the Amazon Web Services accounts including our multiple Elastic Beanstalk and EC2 instances</li>
              <li>Developed a Mongodb Console using Express/Node.js/Pug to be able to easily extract and manipulate all our data in Mongodb</li>
          </ul>
      </li>
    <li class="work-sub-container">
      <p class="work-title">
        IT Business Consultant Intermediate
      </p>
      <span class="company-name">Kaiser Permanente</span>
      <span class="work-dates">July 2015 - March 2017 | Pleasanton, CA</span>
      <ul>
        <li>Successfully co-led the Analytics Portfolio Management track within Regional IT Operations (RITO) Analytics. Maintained a repository of analytic related initiatives across all Kaiser regions in order to effectively reduce variation and redundancy, while promoting awareness and the use of Kaiser standards</li>
      </ul>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        IT Business Operations Analyst
      </p>
      <span class="company-name">Kaiser Permanente</span>
      <span class="work-dates">Sept. 2014 - July 2015 | Pleasanton, CA</span>
      <ul>
        <li>Assisted the NCAL BIO IT Governance Support team with various reports including the 2014 End of Year Report to the Regional Approval Council and other Executives.</li>
      </ul>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        IT Design Review Intern
      </p>
      <span class="company-name">Kaiser Permanente</span>
      <span class="work-dates">Feb. 2014 – Sept. 2014 | Pleasanton, CA</span>
      <ul>
        <li>Worked as a part of the Infrastructure Management Group in Design Review to analyze and approve server designs, applications, and deployments</li>
      </ul>
    </li>
  </ul>
  <h5 class="resume-minor-title">Education</h5>
  <ul class="work-container">
    <li class="work-sub-container">
      <p class="work-title">
        Simpson University, Redding, CA
      </p>
      <p class="education-small-text">
        Bachelor of Arts, GPA 4.09
      </p>
      <p class="education-small-text">
        Summa Cum Laude
      </p>
      <p class="education-small-text">
        Major: Cross-Cultural Business
      </p>
      <!--<p class="education-small-text">-->
        <!--Graduation Date: April 2013-->
      <!--</p>-->
    </li>
  </ul>
    <h5 class="resume-minor-title">Certifications</h5>
    <p class="certification-title">
        <img class="certification-image" src="images/treehouse.png" alt="treehouse image" />
        Treehouse Full Stack JavaScript Techdegree <span class="text-muted text-sm">Issued Sept. 13, 2016</span>
        <a href="https://s3-us-west-1.amazonaws.com/chrisgaonaportfolio/Full+Stack+JavaScript+Certificate.pdf" target="_blank">View</a>
    </p>
    <small class="pull-right text-muted small-resume-text">-I'm willing to relocate</small>
</div>
