<div class="cg-main-wrapper"></div>
<div class="cg-resume-container">
  <p class="cg-back-button" ng-click="vm.goBack()">
    <span class="fa fa-long-arrow-left"></span>
     Back
  </p>
  <h2 class="resume-title">My Resume</h2>
  <h3 class="resume-sub-title">Christopher Gaona</h3>
  <div class="print-links clearfix">
    <span>https://www.linkedin.com/in/christophergaona</span>
    <span>https://github.com/chris-gaona</span>
  </div>
  <div class="link-container">
    <a href="https://www.linkedin.com/in/christophergaona">LinkedIn</a>
     |
    <a href="https://github.com/chris-gaona">GitHub</a>
     |
    <a href="images/Christopher_Gaona_Resume.pdf" download target="_blank">Download</a>
     |
    <a href="#" ng-click="vm.printResume()">Print</a>
  </div>
  <h5 class="resume-minor-title">Technical Skills</h5>
  <ul class="tech-skills clearfix">
    <li>Full Stack JavaScript</li>
    <li>MEAN Stack</li>
    <li>Mongodb</li>
    <li>Express</li>
    <li>Angular</li>
    <li>NodeJS</li>
    <li>HTML5</li>
    <li>CSS, SASS, SCSS</li>
    <li>jQuery</li>
    <li>AJAX</li>
    <li>CORS</li>
    <li>Git (GitHub, Version Control)</li>
    <li>Webpack</li>
    <li>Browserify</li>
    <li>NPM Scripts</li>
    <li>Gulp</li>
  </ul>
  <h5 class="resume-minor-title">Work Experience</h5>
  <ul class="work-container">
    <li class="work-sub-container">
      <p class="work-title first-work">
        IT Business Consultant Intermediate
      </p>
      <span class="company-name">Kaiser Permanente</span>
      <span class="work-dates">July 2015 - Present | Pleasanton, CA</span>
      <ul>
        <li>Successfully co-led the Analytics Portfolio Management track within Regional IT Operations (RITO) Analytics. Maintained a repository of analytic related initiatives across all Kaiser regions in order to effectively reduce variation and redundancy, while promoting awareness and the use of Kaiser standards</li>
        <li>Effectively analyzed and rationalized the initiative data obtained from the regions and found multiple synergistic opportunities</li>
        <li>Regularly updated and maintained multiple sharepoint sites under RITO Analytics</li>
        <li>Maintained a MS Project Plan for the RITO Analytics track</li>
        <li>Generated monthly executive level reports based on our track’s goals and  accomplishments</li>
      </ul>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        IT Business Operations Analyst
      </p>
      <span class="company-name">Kaiser Permanente</span>
      <span class="work-dates">Sept. 2014 - July 2015 | Pleasanton, CA</span>
      <ul>
        <li>Assisted the RITO Analytics Collaborative Council (ACC) group with weekly status reports to the PVO</li>
        <li>Assisted the NCAL BIO IT Governance Support team with various reports including the 2014 End of Year Report to the Regional Approval Council and other Executives. Managed a monthly NCAL Business Management Office self-reported goals report of the many projects tracked by our governance team</li>
        <li>Traveled to various Kaiser Permanente Service Areas to interview Managers within the Service and Delivery group to produce a report for the RAC and other Executives</li>
      </ul>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        IT Design Review Intern
      </p>
      <span class="company-name">Kaiser Permanente</span>
      <span class="work-dates">Feb. 2014 – Sept. 2014 | Pleasanton, CA</span>
      <ul>
        <li>Assisted the Infrastructure Management Group – Service, Delivery, and Integration Team in ensuring that all incoming projects were successfully processed, assigned, and completed by a specified deadline</li>
        <li>Managed Remedy Database Queue by processing all incoming projects and assigning them to design review consultants</li>
        <li>Worked as a part of the Infrastructure Management Group in Design Review to analyze and approve server designs, applications, and deployment</li>
      </ul>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        Operations Intern
      </p>
      <span class="company-name">Op-test</span>
      <span class="work-dates">Feb. 2013 – April 2013 | Redding, CA</span>
      <ul>
        <li>Assisted operations manager with the logistics of moving all company operations to a new facility</li>
        <li>Maintained the ability to organize and prioritize workload with various teams throughout the organization to meet deadlines</li>
      </ul>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        Teacher’s Assistant
      </p>
      <span class="company-name">Simpson University</span>
      <span class="work-dates">Sept. 2012 – April 2013 | Redding, CA</span>
      <ul>
        <li>Maintained strong written and oral communication skills</li>
        <li>Successfully met deadlines while maintaining confidentiality of other students’ grades</li>
      </ul>
    </li>
  </ul>
  <h5 class="resume-minor-title">Education</h5>
  <ul class="work-container">
    <li class="work-sub-container">
      <p class="work-title first-work">
        Treehouse Tech Degree - Full Stack JavaScript
      </p>
      <p class="education-small-text education-anchor">
        See a transcript of courses taken: <a href="https://teamtreehouse.com/chrisgaona">Check it out!</a> - Over 180 courses taken
      </p>
      <p class="education-small-text-print">
        See a transcript of courses taken: https://teamtreehouse.com/chrisgaona - Over 180 courses taken
      </p>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        Codeschool - Online platform to learn various coding languages
      </p>
      <p class="education-small-text education-anchor">
        See a report card of courses taken: <a href="https://www.codeschool.com/users/thebeloved88">Check it out!</a>
      </p>
      <p class="education-small-text-print">
        See a report card of courses taken: https://www.codeschool.com/users/thebeloved88
      </p>
    </li>
    <li class="work-sub-container">
      <p class="work-title">
        Simpson University, Redding, CA
      </p>
      <p class="education-small-text">
        Bachelor of Arts, GPA 4.09
      </p>
      <p class="education-small-text">
        Summa Cum Laude
      </p>
      <p class="education-small-text">
        Major: Cross-Cultural Business
      </p>
      <p class="education-small-text">
        Graduation Date: April 2013
      </p>
    </li>
  </ul>
</div>
