.cg-db-budget-graph {
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: .5em 1em 1em 1em;
  border-radius: 5px;
}

.cg-db-budget-container {
  position: relative;
  left: 50%;
  width: 295px;
  margin-left: -147.5px;
}

.cg-db-budget-sub {
  position: relative;
  display: inline-block;
}

.cg-db-budget-progress {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.cg-db-budget-progress-dollars {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.round-progress-wrapper {
  display: inline-block;
}

.cg-db-budget-totals {
  position: relative;
  padding: .5em 1em;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #fff;
}

.cg-db-budget-blue {
  background-color: #428bca;
}

.cg-db-budget-green {
  background-color: #5cb85c;
}

.cg-db-budget-purple {
  background-color: #5c5cb8;
}

.existing-cash, .current-cash, .total-cash {
  font-size: 2.2em;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #e5e5e5;
  text-align: left;
  padding: 5px;
  font-size: .8em;
}

.cg-db-budget-previous {
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: .5em 1em 1em 1em;
  border-radius: 5px;
}
