.cg-db-budget-graph {
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: .5em 1em 1em 1em;
  border-radius: 5px;
}

.cg-db-budget-container {
  position: relative;
  left: 50%;
  width: 295px;
  margin-left: -147.5px;
}

.cg-db-budget-sub {
  position: relative;
  display: inline-block;
}

.cg-db-budget-progress {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.cg-db-budget-progress-dollars {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.round-progress-wrapper {
  display: inline-block;
}
