/************************/
/*FOOTER*/
/************************/
.cg-footer {
  position: relative;
  padding: 2em 1em 2em 1em;
  background-color: #0099ff;
  overflow: hidden;
}

.copyright {
  display: block;
  position: relative;
  bottom: -70px;
  left: 50%;
  width: 235px;
  margin: 0;
  margin-left: -117.5px;
  font-size: .9em;
  color: #fff;

  @media (min-width: 600px) {
    display: inline-block;
    position: absolute;
    bottom: 22px;
    left: 2em;
    margin-left: 0;
  }
}

.social {
  display: block;
  position: relative;
  bottom: 0;
  left: 50%;
  right: auto;
  width: 140px;
  margin: 0;
  margin-left: -70px;
  padding: 0;
  font-size: .9em;
  font-size: 2em;

  @media (min-width: 600px) {
    display: inline-block;
    position: absolute;
    bottom: 9px;
    left: auto;
    right: 1em;
    margin-left: 0;
  }
}

.social a {
  color: #fff;
}

.footer-logo {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 60px;
  height: auto;
  margin-left: -30px;
  z-index: 1001;
}

#footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 1em;

  p {
    padding: 1em;
    margin-bottom: 0;
    font-size: .8em;
  }
}
