/************************/
/*FORM*/
/************************/
.form-wrapper {
  padding: 5em 2em;
  background-color: #0099ff;
}

.cg-form-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 4em 1em 2em 1em;
  border-radius: 5px;
  margin: 0 auto;

  @media (min-width: 500px) {
    padding: 4em 4em 2em 4em;
  }
}

.cg-form-container input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 1em 0;
  border-radius: 5px;
  border: 2px solid #fd7d5f;
}

.cg-form-container textarea {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 1em 0;
  border-radius: 5px;
  border: 2px solid #fd7d5f;
}

.cg-select-container {
  position: relative;
  height: auto;
}

.cg-form-container select {
  position: relative;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 1em 0;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #fd7d5f;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 10;
}

span.fa-chevron-down {
  position: absolute;
  right: 20px;
  top: 33px;
  font-size: 20px;
}

.cg-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}

.cg-validation-container {
  margin-top: 20px;
}

.validation-errors li {
  color: red;
}

.cg-btn-container {
  margin-top: 2em;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 95%;
  height: 105px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;

  @media (min-width: 400px) {
    height: 85px;
  }
}
.dragover {
  border: 5px dashed blue;
}

.preview-image {
  max-width: 100%;
  margin-bottom: 0;
}
