/************************/
/*HEADER*/
/************************/
.cg-header {
  background-color: #0099ff;
  background-image: url("/images/icons.png");
  background-size: 800px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.cg-header-inner {
  background: linear-gradient(to bottom, #0099ff 30%, transparent);
  padding: 5em 2em;

  @media (min-width: 500px) {
    padding: 5em 5em;
  }
}

.brief-info {
  text-align: center;
  font-size: 1.2em;

  @media (min-width: 500px) {
    font-size: 1.5em;
  }
}

.main-button-container {
  position: relative;
  top: 0;
  left: 50%;
  width: 315px;
  height: 80px;
  margin-left: -157.5px;

  @media (min-width: 380px) {
    width: 360px;
    height: 100px;
    margin-left: -180px;
  }
}

span.fa-github, span.fa-file-text-o {
  margin-right: 5px;
}

button.cg-github, button.cg-my-resume {
  float: left;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: 5px;
  font-size: 1em;
  background-color: #fff;
  border: 3px solid #fd7d5f;
  color: #fd7d5f;

  @media (min-width: 380px) {
    padding: 15px 20px;
    font-size: 1.1em;
  }
}

//.icon {
//  font-size: 1.3em;
//  margin: 20px 34px;
//}
