/************************/
/*LOGO*/
/************************/
img.logo {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 80px;
  height: auto;
  margin-left: -40px;
  z-index: 999;
}

/*.cg-title {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  transform: rotate(90deg);
  z-index: 1001;
}*/

/*.cg-title-c {
  position: relative;
  color: #FFFF00;
  font-size: 50px;
  z-index: 10;
}

.cg-title-c::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFF00;
  width: 3px;
  height: 10px;
  border-radius: 5px;
  transform: rotate(-40deg);
}

.cg-title-c::after {
  content: '';
  position: absolute;
  top: 24px;
  left: -9px;
  background-color: #FFFF00;
  width: 3px;
  height: 10px;
  border-radius: 5px;
  transform: rotate(-90deg);
}

.cg-title-g {
  position: absolute;
  top: 10px;
  left: 6px;
  font-size: 36px;
  color: #FFFF00;
}

.cg-title-g::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  background-color: #FFFF00;
  width: 3px;
  height: 10px;
  border-radius: 5px;
  transform: rotate(40deg);
}

.cg-title-g::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 17px;
  background-color: #FFFF00;
  width: 3px;
  height: 10px;
  border-radius: 5px;
  transform: rotate(-10deg);
}

.cg-title-p {
  position: absolute;
  top: 5px;
  left: 26px;
  font-size: 50px;
  color: #d0cdcd;
}

.cg-title-p::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #FFFF00;
  width: 3px;
  height: 10px;
  border-radius: 5px;
  transform: rotate(6deg);
}

.cg-title-p::after {
  content: '';
  position: absolute;
  bottom: 21px;
  left: 4px;
  background-color: #d0cdcd;
  width: 6px;
  height: 14px;
  border-radius: 0 0 5px 5px;
  z-index: 11;
}*/
