/************************/
/*REGISTER / LOGIN*/
/************************/
.cg-form-main-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #0099ff;
}

.cg-user-container {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
  color: #fff;
}

.cg-user {
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}

.cg-user-mobile {
  position: relative;
  top: -10px;
  left: 0;
  display: block;
  font-size: 2em;
  cursor: pointer;
  padding: 5px;

  @media (min-width: 600px) {
    display: none;
  }
}

.cg-user-mobile ul {
  position: absolute;
  top: 55px;
  left: -167px;
  list-style: none;
  background-color: #fff;
  padding: 10px;
  width: 200px;
  opacity: 0;
  border-radius: 5px;
  z-index: 1000;
  transform: scale(.5);
  transition: all 0.3s;
}

.cg-user-mobile ul.user-visible {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s;
}

.cg-user-mobile ul::before {
  content: '';
  position: absolute;
  top: -11px;
  right: 0;
  border-bottom: 15px solid #fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.cg-user-mobile li {
  text-align: center;
  font-size: .5em;
  padding: 5px 0;
  color: #666;
}

.cg-user-mobile li:first-child {
  margin-bottom: 10px;
  font-weight: bold;
}

.cg-user span {
  padding-right: 10px;
  border-right: 2px solid #fff;
}

.cg-user button, li.cg-logout {
  border: none;
  background-color: #fd7d5f;
  color: #fff;
  border-radius: 5px;
}

.cg-user button, li.cg-logout:hover {
  text-decoration: underline;
}

.cg-auth-btn {
  margin-left: 20px;
  border: none;
  background-color: transparent;
}

h4.cg-errors {
  color: red;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

li.cg-errors {
  color: red;
  margin: 0;
  padding-bottom: 0;
}
