/************************/
/*REGISTER / LOGIN*/
/************************/
.cg-form-main-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #0099ff;
}

.cg-user-container {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
  color: #fff;
}

.cg-user span {
  padding-right: 10px;
  border-right: 2px solid #fff;
}

.cg-user button {
  border: none;
  background-color: transparent;
}

.cg-auth-btn {
  margin-left: 20px;
  border: none;
  background-color: transparent;
}

h4.cg-errors {
  color: red;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

p.cg-errors {
  color: red;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 0;
}
