@media print {
  .logo {
    display: none;
  }

  .cg-back-button {
    display: none;
  }

  h2.resume-title {
    display: none;
  }

  .cg-resume-container {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1em 1em 0 1em;
    border-radius: 5px;
    margin: 0 auto;
  }

  h3.resume-sub-title {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  h5.resume-minor-title {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    background-color: #fff;
    font-size: 14px;

    &:first-of-type {
      margin-top: 10px;
    }
  }

  a {
    color: #0099ff;

    &:hover {
      text-decoration: underline;
      color: #666;
    }
  }

  .link-container {
    display: none;
  }

  .print-links {
    display: block;
    font-size: 12px;

    span:first-of-type {
      float: left;
    }

    span:nth-of-type(2) {
      float: right;
    }
  }

  .certification-title {
    font-weight: normal;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 12px;

    span {
      font-size: 8px;
      margin-left: 10px;
    }

    a {
      display: none;
    }
  }

  .certification-image {
    width: 20px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
  }

  ul.tech-skills {
    margin-top: 5px;
    padding-left: 10px;

    li {
      list-style: none;
      border: 1px solid #0099ff;
      padding: 1px 4px;
      float: left;
      border-radius: 2px;
      margin: 2px;
      font-size: 12px;
    }
  }

  ul.work-container {
    padding: 0 0 0 20px;
    margin: 0;

    li.work-sub-container {
      list-style: none;

      ul {
        padding: 0 0 0 20px;
        margin: 0;
        margin-top: -10px;
      }

      ul li {
        font-size: 12px;
        line-height: 13px;
      }
    }
  }

  p.work-title {
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  .company-name, .work-dates {
    position: relative;
    top: -8px;
    font-size: 10px;
    color: #8e8e8e;
    padding: 0;
    margin: 0;
    margin-right: 15px;
  }

  .education-small-text {
    font-size: 11px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    line-height: 12px;
  }

  .education-anchor {
    display: none;
  }

  .education-small-text-print {
    display: block;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    font-size: 12px;
  }

  .project-text {
    font-size: 11px;
    margin-bottom: 0;

    span {
      display: none;
    }
  }

  .work-sub-container img {
    width: 125px;
    height: auto;
  }

  .small-resume-text {
    font-size: 10px;
  }
}
