.cg-resume-container {
  position: relative;
  top: 80px;
  left: 0;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 4em 4em 2em 4em;
  border-radius: 5px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}
